/*general*/
body{
    background-color: rgba(55,194,79,0.2);
    font-family: calibri;
    font-size: 1em;
}
#logo{
    display: block;
    margin:auto;
}
.button{
    background-color: rgba(55,194,79,0.3);
    border: none;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
}
.input{
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1em;
    background-color: rgba(55,194,79,0.3);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/*page one*/
#containerHead{
    width:100%;
    height:auto;
    padding-top: 1%;
    padding-bottom: 1%;
    /*border-style:solid;
    border-color:black;*/
}
#containerDes{
    width:100%;
    height:auto;
    padding-top: 1%;
    padding-bottom: 1%;
    /*border-style:solid;
    border-color:black;*/
}
.containerOpt{
    width:100%;
    height:auto;
    padding-top: 1%;
    padding-bottom: 1%;
   /* border-style:solid;
    border-color:black;*/
    font-size: 2em;
    text-align: center;
}
#containerOpt1{
    width:100%;
    height:auto;
    position: inline-block;
    float: left;
    border-style:solid;    
    border-color:black;
}
#containerOpt2{
    width:100%;
    height:auto;
    position: inline-block;
    float: left;
    border-style:solid;
    border-color:black;
}
#containerOpt3{
    width:95%;
    height:auto;
    margin-left: 2%;
    margin-bottom: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    position: inline-block;
    float: left;
    border-style:solid;
    border-color:black;
}
#containerOpt4{
    width:95%;
    height:auto;
    margin-left: 2%;
    margin-bottom: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    position: inline-block;
    float: left;
    border-style:solid;
    border-color:black;
}
#containerFoot{
    width:50%;
    height:auto;
    background-color: rgba(55,194,79,1);
    border-style:solid;
    border-color:black;
    display: block;
    margin:auto;
}
#LogOut{
    width:100%;
    height: auto;
    font-size: 2em;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#LogIn{
    width:100%;
    height: auto;
    font-size: 2em;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}